<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}
body{
    background: url("image/back.png");
    margin-left: 5%;
    margin-top: 5%;
    font-size: 1.6rem;
}
p{
    color: #FFFFFF;
    border-bottom: 0.1rem solid #000000;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
=======
*{
    margin: 0;
    padding: 0;
}
body{
    background: url("image/back.png");
    margin-left: 5%;
    margin-top: 5%;
    font-size: 1.6rem;
}
p{
    color: #FFFFFF;
    border-bottom: 0.1rem solid #000000;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
>>>>>>> 4c1afe37fdf9e18bca6fd697ed80b58f85b13610
}