*{
    margin: 0;
}
.pageWrapper {
    background-color: #f5f5f5;
    margin: 0;
    padding-top: -20px;
}

.topbar-content {
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 0 6px #e3e2e2;
    border-color: #e3e2e2;
}

@media (min-width: 768px) {
    #pageWrapper {
        float: left;
        padding: 30px 30px 3000px 30px;
        margin-bottom: -3000px;
        width: calc(100% - 250px);
    }
}
.main {
    width: 1200px;
    height: 190px;
    background: #fff;
    margin: auto;
    border: solid 1px #DEDEDE;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #DEDEDE;
}

.main-top,
.main-bttom {
    margin-top: 25px;
}

.main-top lable {
    font-size: 15px;
    font-weight: 600;
    margin-right: 40px;
    margin-left: 30px;
    letter-spacing: 3px;
}

.main-top select {
    width: 230px;
    height: 35px;
    border: none;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
}

.main-top input {
    width: 230px;
    height: 35px;
    border: none;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    margin-right: 20px;
}

.main-bttom select {
    width: 230px;
    height: 35px;
    border: none;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    margin-right: 20px;
}
.main button{
    margin-right: 10px;
    margin-top: 15px;
}
.main .empty{
    border: none;
    width: 55px;
    height: 36px;
    background: #D9534F;
    border-radius: 4px;
    color: #fff;
}
.main .search{
    border: none;
    width: 55px;
    height: 36px;
    background: #5cb85c;
    border-radius: 4px;
    color: #fff;
}
.main .empty:hover{
    background: #c9302c;
}
.main .search:hover{
    background: #449d44;
}
.demo-input:focus {
    border-color: #fd9f2a;
    outline: 0;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(253, 159, 42, 0.6);
}
.list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.list li {
    padding: 10px;
    text-align: center;
    color: #FFFFFF;
}
.list li i {
    font-size: 13px;
    width: 15px;
    margin-right: 15px;
}
.list li:hover {
    cursor: pointer;
}
.list li:hover i {
    color: #21CCFC;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .fa {
    padding: 0 10px;
}

.sidebar .fa.arrow {
    float: right;
    padding-right: 40px;

}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0 !important;
}

.sidebar .nav-second-level li a {
    padding-left: 67px;
    font-size: 14px;

}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media (min-width: 768px) {
    .sidebar {
        float: left;
        width: 250px;
        padding-top: 28px;
        padding-bottom: 3000px;
        margin-bottom: -3000px;
    }
}
@media (max-width: 768px) {
    .table .sheet td{
        white-space: nowrap;
    }
    .table .sheet th{
        white-space: nowrap;
    }
}
.sidebar .list li a {
    color: white;
    font-size: 16px;
    border-left: solid transparent;
    padding-left: 10px;
}

a:hover {
    color: orange;
}

.modal-title {
    border-bottom: none;
    color: #47c6e8;
    font-size: 16px;
}
.sidebar .treeMenu .perMenu .content {
    display: none;
}


/*新增*/
.contentBottom .entry{
    width: 100px;
    height: 100px;
    background: red;
}
.tabulation{
    border: solid 1px #DEDEDE;
    border-top: none;

}
.titel{
    padding-top: 7px;
}
.contentBottom{
    margin-top: 20px;
    position: relative;
    padding-bottom: 20px;
}
.table{
    width: 95%;
    margin: 0 auto;
    margin-left: -15px;
}
.sheet{
    background: #FFFFFF;
    text-align: center;
}
.sheet th{
    text-align: center;
}
.sheet td{
    font-size: 14px;
}
img{
    max-width: 100%;
}
#wrap-img{
    max-width: 600px;
    padding-right: 30px;
    margin-left: -15px;
}