<body style="background: #f5f5f5">
<div id="pageWrapper" class="pageWrapper ng-scope  ">
    <div class="panel-heading">
        <strong ng-if="!params.id" class="ng-scope">
            新增Article</strong>
    </div>
    <div class="panel-body">
        <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" name="myform" novalidate>
            <div class="form-group">
                <label class="col-md-2 control-label">标题名称</label>
                <div class="col-md-8">
                    <input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" type="text"
                           required="" ng-model="params.title">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label word-spacing-25">类 型</label>
                <div class="col-md-2">
                    <select class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                            required="" ng-model="params.type"
                            ng-options="option.value as option.showText for option in
                            [{value:'',showText:'请选择'},{value:0,showText:'首页banner'},{value:1,showText:'找职位banner'},
                            {value:2,showText:'找精英banner'},{value:3,showText:'行业大图'}
                            ]">
                    </select>
                </div>
                <div class="col-md-2">
                    <select class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required"
                            required="" ng-model="params.industry" ng-if="params.type==3"

                            ng-options="option.value as option.showText for option in
                            [{value:'',showText:'请选择'},{value:0,showText:'移动互联网'},{value:1,showText:'电子商务'},
                            {value:2,showText:'企业服务'},{value:3,showText:'O2O'},
                            {value:4,showText:'教育'},{value:5,showText:'金融'},
                            {value:6,showText:'游戏'}]">
                    </select>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label word-spacing-25">说 明</label>
                <div class="col-md-8">
                    <input class="form-control ng-pristine ng-untouched ng-valid" type="text" ng-model="params.content"
                    >
                </div>
            </div>

            <div class="form-group" ng-if="params.type!=='4'">
                <label class="col-md-2 control-label">跳转链接</label>
                <div class="col-md-8">
                    <input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" type="text"
                           ng-model="params.url"
                           required="">
                </div>
            </div>
            <div class="form-group ">
                <label class="col-md-2 control-label">图片配图</label>
                <div class="col-md-8" style="margin-left: -15px">
                    <img-upload ajax-ads="'/carrots-admin-ajax/a/u/img/task'" img-src="params.img"></img-upload>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="button" class="btn btn-success"
                            ng-disabled="!params.img||!params.url||!params.title||
                            !params.type&&params.type!==0
                            ||params.type==3&&params.industry===''"
                            ng-click="addArticle(2)"
                    >立即上线
                    </button>
                    <button type="button" class="btn btn-success"
                            ng-disabled="!params.img||!params.url||!params.title||
                            !params.type&&params.type!==0
                            ||params.type==3&&params.industry===''"
                            ng-click="addArticle(1)"
                    >保存草稿
                    </button>
                    <button type="button" class="btn btn-default pull-right" ui-sref="field.articleList"
                            href="#/articleList//">
                        <a ui-sref="home.article">取消</a></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

</script>
</body>




