<div id="pageWrapper" class="pageWrapper container-fluid col-sm-12">
    <div class="panel-body" style="border: solid 1px #DEDEDE;">
        <div class="row pd-bottom-2">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4 titel">修改时间</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               ng-init="startOpen=false"
                               datepicker-options="myPicker.config"
                               ng-model="article.searchParams.startAt"
                               is-open="startOpen"
                               close-text="关闭"
                               clear-text="清空" current-text="今天" ng-focus="startOpen=true"/>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4 text-center ">—</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               ng-init="endOpen=false"
                               datepicker-options="myPicker.config"
                               ng-model="article.searchParams.endAt"
                               is-open="endOpen"
                               close-text="关闭"
                               clear-text="清空" current-text="今天" ng-focus="endOpen=true"/>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $(".datepicker").datepicker({
                        inline: true,
                        showOtherMonths: true
                    });
                });
            </script>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4 word-spacing-25 titel">类 型</label>
                    <div class="col-md-8">
                        <select class="form-control ng-pristine ng-untouched ng-valid"
                                ng-model="article.searchParams.type">
                            <option value="">全部</option>
                            <option value="0">首页Banner</option>
                            <option value="1">找职位Banner</option>
                            <option value="2">找精英Banner</option>
                            <option value="3">行业大图</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pd-bottom-2">
            <div class="col-md-4">
                <div class="form-group" style="margin-top: 20px">
                    <label class="control-label col-md-4 word-spacing-25 titel">状 态</label>
                    <div class="col-md-8">
                        <select class="form-control ng-pristine ng-untouched ng-valid"
                                ng-model="article.searchParams.status">
                            <option value="">全部</option>
                            <option value="2">上线</option>
                            <option value="1">草稿</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pd-bottom-2">
            <div class="col-md-4 pull-right text-right">
                <div params="vm.searchParams" class="ng-isolate-scope">
                    <button type="button" class="btn btn-danger" ng-click="clean()">清空</button>
                    <button type="button" class="btn btn-success" ng-click="search()">搜索</button>
                </div>
            </div>
        </div>
    </div>
    <div class="contentBottom">
        <div class="panel-heading" style="background: #F9F9F9">
            <strong>Article列表
            </strong>
            <button type="button" class="btn btn-xs btn-success pull-right margin-left-10"
                    ui-sref="home.articleDetail">
                <a ui-sref="home.articleDetail" style="color: #fff">+新增</a>
            </button>
        </div>
        <div class="panel-body tabulation table-responsive table-responsive">
            <table class="table table-striped add-table-border">
                <thead>
                <tr class="sheet">
                    <th>ID</th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>发布时间</th>
                    <th>修改时间</th>
                    <th>发布者</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr class="sheet" ng-repeat="self in article.ajaxData">
                    <td>{{$index+1}}</td>
                    <td>{{self.title}}</td>
                    <td>{{self.type | type }}</td>
                    <td>{{self.createAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{self.updateAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{self.author}}</td>
                    <td>{{self.status | status }}</td>
                    <td>
                        <button style="border: none;background: none;color: #337Ab7;outline:none; " type="button"
                                class="btn btn-sm  btn-primary "
                                ng-click="changeItemStatus(self.id,self.status)" ng-clock>
                            <!--1草稿，2上线-->
                            {{self.status==1?'上线':'下线'}}
                        </button>

                        <a ui-sref=home.articleDetail({id:self.id}) style="font-size: 12px;">编辑</a>
                        <button style="border: none;background: none;color: #337Ab7;outline:none; " type="button"
                                class="btn btn-sm  btn-primary "
                                ng-click="deleteItem(self.id)" ng-clock>
                            删除
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination container-fluid">
        <div class="row">
            <div class="its col-xs-2" style="left: 20px;">每页
                <input type="text" ng-model="article.searchParams.size"
                       style="width: 60px; text-align: center;height: 30px;border: none;border: 1px solid #ededed"
                       value=""
                       class="ng-pristine ng-untouched ng-valid ng-empty">条
            </div>
            <div class="its col-xs-7">
                <uib-pagination total-items="pagination.total" ng-model="pagination.page" max-size="5"
                                items-per-page="pagination.perPageItems"
                                first-text="第一页"
                                previous-text="上一页" next-text="下一页" last-text="最后页" boundary-links="true"
                                ng-change="pagination.changePage()"
                                boundary-link-numbers="true">
                </uib-pagination>
            </div>
            <div class="its col-xs-3">跳转到
                <input type="text" ng-model="article.searchParams.page"
                       style="width:60px;height:30px; text-align: center;border: none; border: 1px solid #ededed;"
                       value=""
                       class="ng-pristine ng-untouched ng-valid ng-empty">页
                <button ng-click="list()" style="border: none;width: 60px;height: 30px;">确定</button>
            </div>
        </div>
    </div>
    <div ui-view="child"></div>
</div>
<ul>
    <li ng-repeat="person in roommates">{{ person.name }}</li>
</ul>
<script type="text/javascript">

</script>